/*#0795E2;   #2FB6FF;*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


@font-face {
    font-family: 'Graphik LC TT';
    src: url(../fonds/GraphikLCG-Regular.ttf);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0 20px;
}

.main_section {

    background: #FFFFFF;
    padding-bottom: 172px;


}

.header {
    border-bottom: 1px solid #000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}


.nav_link {
    font-family: 'Graphik LC TT';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin-right: 57px;

}

.button1 {
    font-family: 'Graphik LC TT';
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #000000;
    border: 1px solid black;
    padding: 14px 34px;
}

.button2 {
    font-family: 'Graphik LC TT';
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #FFFFFF;
    background: #FF6336;
    padding: 15px 22px;
}



.text_and_img {
    display: flex;
    justify-content: center;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 120px;
}



.img_near_text {
    padding-top: 66px;
}

.h1 {
    max-width: 552px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

.description {
    max-width: 470px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-top: 51px;
}

.buttons_under_text {
    display: flex;
    margin-top: 50px;
}



.link1_under_text {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
    background: #FF6336;
    padding: 20px 41px;
    margin-right: 10px;
}

.link2_under_text {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #000000;
    border: 1px solid black;
    padding: 19px 29px;
}

.button4 {
    border: 1px solid black;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    padding-left: 29px;
    padding-right: 29px;
}

.small_text {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;

    color: #000000;
}

.link1_under_text {
    color: #FFFFFF;
}

.link2_under_text {
    color: #000000;
}

.second_section {
    background: #FF9C7D;
    padding-top: 105px;
    padding-bottom: 100px;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h2 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    text-align: center;
}

.h2_pink {
    display: block;
    margin: 0 auto;
    max-width: 650px;
    margin-bottom: 80px;
}


.descr_with_img1 {
    display: flex;
    justify-content: space-between;
    /* padding: 90px 0px 0px 75px; */
}


.h3 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    max-width: 503px;
}

.little_descr {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    max-width: 490px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.little_descr1 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 490px;
    margin-top: 30px;
    max-width: 450px;
    margin-bottom: 30px;
}

.START {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;

}

.descr1 {
    margin-top: 150px;
    /* margin-right: 165px; */

}


.descr_with_img2 {
    margin-top: 240px;
    display: flex;
    justify-content: space-between;
}

.h4 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    max-width: 375px;
}

.descr2 {
    margin-top: 160px;
}

.descr_with_img3 {
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
}

.third_section {
    padding: 120px 75px 140px 75px;
}

.h5 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}

.img_near_descr3 {

    margin-left: 115px;
}

.descr3 {
    margin-top: 150px;

}

.little_descr2 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 490px;
    margin-top: 30px;
    max-width: 555px;
    margin-bottom: 30px;
}

.descr_with_img4 {
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
}

.h6 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    max-width: 348px;
}

.little_descr3 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    max-width: 520px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 30px;
}

.descr4 {
    margin-top: 120px;
    margin-left: 12px;
}


.fourth_section {
    background: #FFF8E4;
    padding-top: 120px;
    padding-bottom: 145px;
}


.h_fourth_section {
    text-align: center;
}

.localize {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}

.icons_with_text1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 76px;
}

.icons_with_text2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 76px;
}

.icons1 {
    text-align: center;
}

.icon_description1 {
    max-width: 303px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-top: 20px;
}

.icons2 {
    text-align: center;
}

.icon_description2 {
    max-width: 330px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-top: 20px;
}

.icons3 {
    text-align: center;
}

.icon_description3 {
    max-width: 281px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.icons11 {
    text-align: center;
}

.icons22 {
    text-align: center;
}

.icons33 {
    text-align: center;
}

.icon_name1 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-top: 25px;
}

.add1 {
    max-width: 309px;
}

.add2 {
    max-width: 310px;
}

.add3 {
    max-width: 326px;
}

.big_icons_text {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 85px;

}

.fifth_section {
    padding-top: 154px;
    padding-bottom: 187px;
    background: #E5E5E5;

}

.h7_section {
    text-align: center;
}

.Boost {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}

.big_h1 {
    margin-top: 49px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.big_descr {
    max-width: 407px;
    margin-top: 34px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;

}

.big_icon_1 {
    width: 30%;
}

.big_icon_2 {
    width: 30%;
}

.big_icon_3 {
    width: 30%;
}

.learn {
    margin-top: 25px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;

}

.learn_link {
    color: #000000;
}

.sixth_section {
    background: #C9E8F2;
    padding-top: 63px;
    padding-bottom: 105px;
    padding-left: 75px;
    padding-right: 75px;
}

.text_man {
    display: flex;
}

.huge_textik {
    max-width: 920px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.small_textik {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-top: 23px;
    margin-bottom: 7px;
}

.textik {
    margin-right: 59px;
}

.seventh_section {
    background: #DABC98;
    padding: 80px 137px 80px 54px;
}

.cake_with_icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cake_and_text {
    display: flex;
    align-items: center;
    border-right: 1px solid black;
}

.near_cake {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
    margin-left: 67px;
}

.under_star {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    color: #000000;
}

/* .line {
    margin-right: 71px;
    background:black;
    height: 100%;
    width: 1px;
} */
.icons_stars1 {
    margin-left: 70px;
}

.icons_stars2 {}

.star {
    margin-top: 20px;
}

.under_star {
    margin-top: 14px;
}

.eigth_section {
    padding: 163px 209px;

}

.text_and_birds {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Bigone {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    max-width: 790px;

}

.Smallone {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    max-width: 539px;
    margin-left: 120px;
}

.buttonchik {}

.lonk {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    background: #FF6336;
    padding: 25px 20px;
}


.hugeimg {
    margin-top: 20px;
}

.buttonchik {
    margin-top: 32px;
}

.ninth_section {
    background: #FF9C7D;
    padding-top: 119px;
    padding-bottom: 161px;
}

.I_dont_know {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eaz {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    max-width: 784px;
}

.try {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 29px;
}

.buttonus {
    margin-top: 54px;
}

.it {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    padding: 20px 40px;
}

.tenth_section {
    padding: 97px 75px 45px 75px;

}

.final {
    display: flex;
    justify-content: space-between;
}

.main_final {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}

.case {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    margin-right: 120px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.many_descr {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-right: 25px;
}

.linochka {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
}


.riding {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 290px;
}


.read {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 290px;
}

.under_final {
    border-top: 1px solid #000;
    margin-top: 95px;
    padding-top: 52px;
    display: flex;
    justify-content: space-between;

}

.logo_descr {
    max-width: 301px;
    display: inline-block;

    /* margin-right: 700px; */
}

.logo_under_descr {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;

}

.logo {
    margin-right: 15px;
    display: inline-block;
}

.tiny_descr {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}



@media all and (max-width:1024px) {

    .container {
        max-width: 1440px;
        margin: 0px auto;
        padding: 0 20px;
    }

    .main_section {

        background: #FFFFFF;
        padding-bottom: 80px;


    }

    .header {
        border-bottom: 1px solid black;
    }

    .header_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 10px;
    }


    .nav_link {
        font-family: 'Graphik LC TT';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        margin-right: 8px;
    }

    .button1 {
        font-family: 'Graphik LC TT';
        font-weight: 600;
        font-size: 16px;
        line-height: 45px;
        color: #000000;
        border: 1px solid black;
        padding: 10px 20px;
    }

    .button2 {
        font-family: 'Graphik LC TT';
        font-weight: 600;
        font-size: 16px;
        line-height: 45px;
        color: #FFFFFF;
        background: #FF6336;
        padding: 12px 10px;
    }



    .text_and_img {
        display: flex;
        justify-content: center;
        padding-left: 25px;
        padding-right: 15px;
        padding-top: 25px;
    }


    .img_near_text {
        padding-top: 66px;
    }

    .h1 {
        max-width: 552px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 70px;
        color: #000000;
    }

    .description {
        max-width: 470px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        color: #000000;
        margin-top: 51px;
    }

    .buttons_under_text {
        display: flex;
        margin-top: 50px;
    }



    .link1_under_text {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        color: #FFFFFF;
        background: #FF6336;
        padding: 15px 25px;
        margin-right: 10px;
    }

    .link2_under_text {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        color: #000000;
        border: 1px solid black;
        padding: 14px 20px;
    }

    .button4 {
        border: 1px solid black;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        text-align: center;
        color: #000000;
        padding-left: 29px;
        padding-right: 29px;
    }

    .small_text {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 60px;

        color: #000000;
    }

    .link1_under_text {
        color: #FFFFFF;
    }

    .link2_under_text {
        color: #000000;
    }

    .second_section {
        background: #FF9C7D;
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .icons {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .h2 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 60px;
        color: #000000;
        text-align: center;
    }

    .h2_pink {
        max-width: 650px;
        display: block;
        margin: 0 auto;
    }

    .descr_with_img1 {
        display: flex;
        justify-content: space-between;
        /* flex-wrap: wrap; */
        /* padding: 90px 0px 0px 75px; */
    }


    .h3 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 60px;
        color: #000000;
        max-width: 503px;
    }

    .little_descr {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
        max-width: 490px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .little_descr1 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        color: #000000;
        max-width: 490px;
        margin-top: 30px;
        max-width: 450px;
        margin-bottom: 30px;
    }

    .START {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #000000;

    }

    .descr1 {
        margin-top: 150px;
        /* margin-right: 165px; */

    }


    .descr_with_img2 {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }

    .h4 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 60px;
        color: #000000;
        max-width: 375px;
    }

    .descr2 {
        margin-top: 160px;
    }

    .descr_with_img3 {
        margin-top: 100px;

        /* margin-right: 75px; */
        display: flex;
        justify-content: space-between;
    }

    .third_section {
        padding: 30px 10px 100px 10px;
    }

    .h5 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 60px;
        color: #000000;
    }

    /* .img_near_descr3 {
        
        margin-left: 115px;
    } */

    .descr3 {
        margin-top: 150px;

    }

    .little_descr2 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        color: #000000;
        max-width: 490px;
        margin-top: 30px;
        max-width: 555px;
        margin-bottom: 30px;
    }

    .descr_with_img4 {
        margin-top: 250px;
        display: flex;
        justify-content: space-between;
    }

    .h6 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 60px;
        color: #000000;
        max-width: 348px;
    }

    .little_descr3 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        max-width: 520px;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .descr4 {
        margin-top: 0px;
    }


    .fourth_section {
        background: #FFF8E4;
        padding-top: 50px;
        padding-bottom: 45px;
    }


    .h_fourth_section {
        text-align: center;
    }

    .localize {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        color: #000000;
    }

    .icons_with_text1 {
        display: flex;
        justify-content: space-around;
        margin-top: 76px;
    }

    .icons_with_text2 {
        display: flex;
        justify-content: space-around;
        margin-top: 76px;
    }

    .icons1 {
        text-align: center;
    }

    .icon_description1 {
        max-width: 303px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin-top: 20px;
    }

    .icons2 {
        text-align: center;
    }

    .icon_description2 {
        max-width: 330px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin-top: 20px;
    }

    .icons3 {
        text-align: center;
    }

    .icon_description3 {
        max-width: 281px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
    }

    .icons11 {
        text-align: center;
    }

    .icons22 {
        text-align: center;
    }

    .icons33 {
        text-align: center;
    }

    .icon_name1 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 35px;
        color: #000000;
        margin-top: 25px;
    }

    .add1 {
        max-width: 309px;
    }

    .add2 {
        max-width: 310px;
    }

    .add3 {
        max-width: 326px;
    }

    .big_icons_text {
        display: flex;
        flex-wrap: wrap;
        margin-top: 85px;
        width: 100%;
    }

    .fifth_section {
        padding-top: 70px;
        padding-bottom: 70px;
        background: #E5E5E5;
        width: 100%;
    }

    .h7_section {
        text-align: center;
    }

    .Boost {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        color: #000000;
    }

    .big_h1 {
        margin-top: 49px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        color: #000000;
        text-align: center;
    }

    .big_descr {
        max-width: 470px;
        margin-top: 34px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #000000;

        text-align: center;
    }

    .big_icon {
        width: 50%;
    }



    .learn {
        margin-top: 25px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-decoration-line: underline;
        text-align: center;
    }

    .imgishka {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .learn_link {
        color: #000000;
    }

    .sixth_section {
        background: #C9E8F2;
        padding-top: 45px;
        padding-bottom: 35px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .text_man {
        display: flex;
        justify-content: space-around;
    }

    .huge_textik {
        max-width: 300px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #000000;
    }

    .small_textik {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #000000;
        margin-top: 23px;
        margin-bottom: 7px;
    }

    .textik {
        margin-right: 59px;
    }

    .seventh_section {
        background: #DABC98;
        padding: 40px 20px 30px 10px;
    }

    .cake_with_icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .cake_and_text {
        display: flex;
        align-items: center;
        border-right: 1px solid black;
    }

    .near_cake {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 50px;
        color: #000000;
        margin-left: 20px;
    }

    .under_star {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.75px;
        color: #000000;
    }

    /* .line {
        margin-right: 71px;
        background:black;
        height: 100%;
        width: 1px;
    } */
    .icons_stars1 {
        margin-left: 70px;
    }

    .icons_stars2 {}

    .star {
        margin-top: 20px;
    }

    .under_star {
        margin-top: 14px;
    }

    .eigth_section {
        padding: 48px 82px;

    }

    .text_and_birds {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Bigone {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 75px;
        text-align: center;
        color: #000000;
        max-width: 790px;

    }

    .Smallone {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #000000;
        max-width: 539px;
        margin-left: 0px;
    }

    .lonk {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        background: #FF6336;
        padding: 25px 20px;
    }


    .hugeimg {
        margin-top: 20px;
    }

    .buttonchik {
        margin-top: 32px;
    }

    .ninth_section {
        background: #FF9C7D;
        padding-top: 54px;
        padding-bottom: 61px;
    }

    .I_dont_know {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .eaz {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 65px;
        line-height: 75px;
        text-align: center;
        color: #000000;
        max-width: 784px;
    }

    .try {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #000000;
        margin-top: 29px;
    }

    .buttonus {
        margin-top: 54px;
    }

    .it {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        background: #000000;
        padding: 20px 40px;
    }

    .tenth_section {
        padding: 27px 5px 25px 5px;

    }

    .final {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 30px
    }

    .main_final {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        color: #000000;
    }

    .case {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
        margin-right: 60px;
    }

    .product {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .many_descr {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: #000000;
    }

    .linochka {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        color: #000000;
    }

    .riding {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        color: #000000;
        max-width: 290px;
    }

    .read {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        max-width: 290px;
    }

    .under_final {
        border-top: 1px solid #000;
        margin-top: 48px;
        padding-top: 52px;
        display: flex;

    }

    .logo_descr {
        max-width: 301px;
        /* margin-right: 700px; */
    }

    .img_near_descr1 {
        margin-top: 150px;
        margin-left: 10px;
    }

    .img_near_descr2 {
        margin-top: 150px;
        margin-right: 10px;
    }

    .img_near_descr3 {
        margin-top: 150px;
        margin-left: 10px;
    }

    .img_near_descr4 {
        margin-top: 0px;

    }

    .logo_under_descr {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;

    }

    .logo {
        margin-right: 15px;
    }

    .tiny_descr {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;

    }


}

@media all and (max-width:480px) {

    .container {
        max-width: 1440px;
        margin: 0px auto;
        padding: 0 5px;
    }

    .main_section {

        background: #FFFFFF;
        padding-bottom: 80px;


    }

    .header {
        border-bottom: 1px solid black;
    }

    .header_inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }




    .nav_link {
        font-family: 'Graphik LC TT';
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #000000;
        margin-right: 8px;
    }

    .button1 {
        font-family: 'Graphik LC TT';
        font-weight: 600;
        font-size: 12px;
        line-height: 45px;
        color: #000000;
        border: 1px solid black;
        padding: 10px 20px;
        margin-right: 20px;
    }

    .button2 {
        font-family: 'Graphik LC TT';
        font-weight: 600;
        font-size: 12px;
        line-height: 45px;
        color: #FFFFFF;
        background: #FF6336;
        padding: 12px 10px;
    }



    .text_and_img {
        display: flex;

        flex-wrap: wrap;
        padding-left: 25px;
        padding-right: 15px;
        padding-top: 15px;
    }

    .text_and_buttons {
        order: 1;
    }


    .img_near_text {
        padding-top: 40px;
    }

    .h1 {
        max-width: 552px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        line-height: 70px;
        color: #000000;
    }

    .description {
        max-width: 560px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        line-height: 35px;
        color: #000000;
        margin-top: 15px;
    }

    .buttons_under_text {
        display: flex;
        justify-content: center;
    }



    .link1_under_text {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        color: #FFFFFF;
        background: #FF6336;
        padding: 15px 35px;
        margin-right: 45px;
    }

    .link2_under_text {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        color: #000000;
        border: 1px solid black;
        padding: 14px 20px;
    }

    .button4 {
        border: 1px solid black;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        text-align: center;
        color: #000000;
        padding-left: 29px;
        padding-right: 29px;
    }

    .small_text {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 60px;
        text-align: center;
        color: #000000;
    }

    .link1_under_text {
        color: #FFFFFF;
    }

    .link2_under_text {
        color: #000000;
    }

    .second_section {
        background: #FF9C7D;
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .icons {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px
    }

    .h2 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 60px;
        color: #000000;
        text-align: center;
    }

    .h2_pink {
        max-width: 650px;
        display: block;
        margin: 0 auto;
    }

    .descr_with_img1 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        /* flex-wrap: wrap; */
        /* padding: 90px 0px 0px 75px; */
    }


    .h3 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 60px;
        color: #000000;
        max-width: 503px;
    }

    .little_descr {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
        max-width: 490px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .little_descr1 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
        max-width: 490px;
        margin-top: 30px;
        max-width: 450px;
        margin-bottom: 30px;
    }

    .START {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #000000;

    }

    .descr1 {
        margin-top: 40px;
        /* margin-right: 165px; */

    }


    .descr_with_img2 {
        margin-top: 30px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .h4 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 60px;
        color: #000000;
        max-width: 375px;
    }

    .descr2 {
        margin-top: 160px;
    }

    .descr_with_img3 {
        margin-top: 40px;

        /* margin-right: 75px; */
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .third_section {
        padding: 30px 10px 100px 10px;
    }

    .h5 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 60px;
        color: #000000;
    }

    /* .img_near_descr3 {
        
        margin-left: 115px;
    } */

    .descr3 {
        margin-top: 150px;

    }

    .little_descr2 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 30px;
        color: #000000;
        max-width: 490px;
        margin-top: 30px;
        max-width: 555px;
        margin-bottom: 30px;
    }

    .descr_with_img4 {
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .h6 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 60px;
        color: #000000;
        max-width: 348px;
    }

    .little_descr3 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 30px;
        max-width: 520px;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .descr4 {
        margin-top: 0px;
    }


    .fourth_section {
        background: #FFF8E4;
        padding-top: 50px;
        padding-bottom: 45px;
    }


    .h_fourth_section {
        text-align: center;
    }

    .localize {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 60px;
        color: #000000;
    }

    .icons_with_text1 {
        display: flex;
        justify-content: space-around;
        margin-top: 76px;
    }

    .icons_with_text2 {
        display: flex;
        justify-content: space-around;
        margin-top: 76px;
    }

    .icons1,
    .icons2,
    .icons3 {
        text-align: center;
        margin-top: 20px;
    }

    .icon_description1 {
        max-width: 303px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin-top: 20px;
    }



    .icon_description2 {
        max-width: 330px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin-top: 20px;
    }



    .icon_description3 {
        max-width: 281px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
    }

    .icons11,
    .icons22,
    .icons33 {
        text-align: center;
        margin-top: 20px;

    }



    .icon_name1 {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 35px;
        color: #000000;
        margin-top: 25px;
    }



    .big_icons_text {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
        gap: 35px;
        width: 100%;
    }

    .fifth_section {
        padding-top: 70px;
        padding-bottom: 70px;
        background: #E5E5E5;
        width: 100%;
    }

    .h7_section {
        text-align: center;
    }

    .Boost {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 60px;
        color: #000000;
    }

    .big_h1 {
        margin-top: 49px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        color: #000000;
        text-align: center;
    }

    .big_descr {
        max-width: 470px;
        margin-top: 34px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #000000;

        text-align: center;
    }

    .big_icon {
        width: 51%;
    }



    .learn {
        margin-top: 10px;
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-decoration-line: underline;
        text-align: center;
    }

    .imgishka {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .learn_link {
        color: #000000;
    }

    .sixth_section {
        background: #C9E8F2;
        padding-top: 45px;
        padding-bottom: 35px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .text_man {
        display: flex;
        flex-direction: column-reverse;
    }

    .huge_textik {
        max-width: 300px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 40px;
        color: #000000;
    }

    .small_textik {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #000000;
        margin-top: 23px;
        margin-bottom: 7px;
    }

    .textik {
        margin-right: 59px;
    }

    .seventh_section {
        background: #DABC98;
        padding: 40px 20px 30px 10px;
    }

    .cake_with_icons {
        display: flex;
        flex-direction: column;
        gap: 35px;
        align-items: center;
    }

    .cake_and_text {
        display: flex;
        align-items: center;
        border-right: 0px solid black;
    }

    .near_cake {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 50px;
        color: #000000;
        margin-left: 20px;
    }

    .under_star {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.75px;
        color: #000000;
    }

    .icons_stars1 {
        margin-left: 0px;
    }

    .icons_stars2 {
        margin-left: 5px;
    }

    .star {
        margin-top: 20px;
    }

    .under_star {
        margin-top: 14px;
    }

    .eigth_section {
        padding: 20px 20px;

    }

    .text_and_birds {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Bigone {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 75px;
        text-align: center;
        color: #000000;
        max-width: 790px;

    }

    .Smallone {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #000000;
        max-width: 539px;
        margin-left: 0px;
    }

    .lonk {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        background: #FF6336;
        padding: 25px 20px;
    }


    .hugeimg {
        margin-top: 20px;
    }

    .buttonchik {
        margin-top: 32px;
    }

    .ninth_section {
        background: #FF9C7D;
        padding-top: 54px;
        padding-bottom: 61px;
    }

    .I_dont_know {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .eaz {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 75px;
        text-align: center;
        color: #000000;
        max-width: 784px;
    }

    .try {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #000000;
        margin-top: 29px;
    }

    .buttonus {
        margin-top: 54px;
    }

    .it {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        background: #000000;
        padding: 20px 40px;
    }

    .tenth_section {
        padding: 27px 0px 25px 0px;

    }

    .final {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 30px
    }

    .main_final {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        color: #000000;
    }

    .case {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
        margin-right: 60px;
    }

    .product {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .many_descr {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: #000000;
    }

    .linochka {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        color: #000000;
    }


    .riding {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        color: #000000;
        max-width: 290px;
    }

    .read {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        max-width: 290px;
    }

    .under_final {
        border-top: 1px solid #000;
        margin-top: 48px;
        padding-top: 52px;
        display: flex;

    }

    .logo_descr {
        max-width: 301px;
        /* margin-right: 700px; */
    }

    .img_near_descr1 {
        margin-top: 20px;
        margin-left: 10px;
    }

    .img_near_descr2 {
        margin-top: 20px;
        margin-right: 10px;
    }

    .img_near_descr3 {
        margin-top: 20px;
        margin-left: 10px;
    }

    .img_near_descr4 {
        margin-top: 20px;

    }

    .logo_under_descr {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;

    }

    .logo {
        margin-right: 15px;
    }

    .tiny_descr {
        font-family: 'Graphik LC TT';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;

    }


}